@font-face
  font-family vision
  font-style normal
  src url(assets/fonts/Vision.otf)

@font-face
  font-family vision
  font-style italic
  src url(assets/fonts/Vision-LightItalic.otf)

@font-face
  font-family vision
  font-weight 100
  src url(assets/fonts/Vision-Light.otf)

@font-face
  font-family vision
  font-weight 700
  src url(assets/fonts/Vision-Bold.otf)

@font-face
  font-family vision
  font-weight 900
  src url(assets/fonts/Vision-Heavy.otf)
